@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';

html { 
	font-size: 62.5%; 
}
body { 
	font-size: 1.5em; 
	line-height: 1.6; 
	font-weight: 400; 
	font-family: 'Montserrat', 
	sans-serif; color:  #FFFF; 
	margin: 0; 
	background-color: #434443;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 300;
	color: #434443;
}
h1 {
	font-size: 6.0em;
	line-height: 1;
	letter-spacing: -.1rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 20px;
}
h2 {
	font-size: 3.6rem;
	line-height: 1.25;
	letter-spacing: -.1rem;
}
h3 {
	font-size: 3.0rem;
	line-height: 1.3;
	
}
h4 {
	font-size: 2.4rem;
	line-height: 1.35;
	letter-spacing: -.08rem;
}
h5 {
	font-size: 1.8rem;
	line-height: 1.5;
	letter-spacing: -.05rem;
}
h6 {
	font-size: 1.5rem;
	line-height: 1.6;
	letter-spacing: 0;
}

p {
	margin-top: 0;
	color:  #434443;
}


/* First page*/
#showmore {
    
    background-color:  #434443;
    color: #FFFF;
    margin: 20px;
    -webkit-appearance: button-bevel;
}
.intro-content {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 0 1em;
	width: 50%;
	text-align: center;
	cursor: pointer;
	-webkit-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
}
.profile {
	margin: 0 auto;
	width: 140px;
	height: 140px;
	border-radius: 50%;
}
.profile img {
	max-width: 100%;
	border-radius: 50%;
	max-height: 100%;

}

.available-img{
	border: 6px solid rgba(0, 167, 0, 0.3);
	-webkit-background-clip: padding-box; /* for Safari */
	background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	padding: 6px;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	transition: all .4s;
}
.available-img:hover{
	border: 6px solid #ace4ac;
}

/* Second page */
.hide{
	display: none;
}
.container-fluid
{
  padding: 0;
}
#wallpaper { 
	background-color: #ace4ac; 
}
.container {
	position: relative;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}

/* Header */
header {
	overflow: hidden;
	padding: 50px 0 50px 0;
	color: #434443;
	min-height: 300px;
}

/* Intro */
#intro {
	background: #434443;
	padding: 50px 0 50px 0;
	color: #FFFFFF;
	z-index: 999;
	overflow: auto;
}

/* Typing effect */
.typewriter p {
	text-align: center;
  	color: #fff;
  	font-size: 1.8em;
  	font-family: monospace;
  	overflow: hidden; 
  	border-right: .15em solid #ace4ac; 
  	white-space: nowrap;
  	margin: 0 auto; 
  	letter-spacing: .15em;
  	-webkit-animation: 
    	typing 3.5s steps(30, end),
    	blink-caret .5s step-end infinite;
        	animation: 
    	typing 3.5s steps(30, end),
    	blink-caret .5s step-end infinite;
}
@-webkit-keyframes typing {
  	from { width: 0 }
  	to { width: 100% }
}
@keyframes typing {
  	from { width: 0 }
  	to { width: 100% }
}

@-webkit-keyframes blink-caret {
  	from, to { border-color: transparent }
  	50% { border-color: #ace4ac }
}
@keyframes blink-caret {
  	from, to { border-color: transparent }
  	50% { border-color: #ace4ac }
}

/* Personal infomation section */
.info{
	background-color: #FFFF;
	padding:  5%;
}
.personal-info li{
	float: left;

}
.uppercase {
	color: #434443;
    font-weight: 600;
}
.mail{
	color: #434443;
}
.mail:hover{
	color: #ace4ac;
}
.img-cv {
	text-align: center;
}
#image{
	width: 60%;
    border-radius: 50%;
    border: 2px solid white;
    margin:  20px;
}
.button-grey{
    background: transparent;
    border: 3px solid #434443;
    cursor: pointer;
    color: #434443;
    display: block;
    font-weight: 900;
    letter-spacing: 3px;
    text-transform: uppercase;
    word-spacing: 1px;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
    /* width: 200px;
    height: 50px; */
    line-height: 50px;
    font-size: 11px;
    margin-bottom: 20px;
    text-align: center;
}
.button-grey:hover {
    background: #434443;
    border: 3px solid #434443;
    color: #fff;
}

/* Skills section */
.skills{
	padding: 2%;
	background-color: #434443;
	text-align: center;
}

ul, li { 
	list-style: none; 
	margin: 0; 
	padding: 0; 
}

ul { 
	display: -webkit-box; 
	display: -ms-flexbox; 
	display: -webkit-flex; 
	display: flex; 
	-webkit-flex-wrap: wrap; 
	-ms-flex-wrap: wrap; 
	flex-wrap: wrap; 
	-webkit-justify-content: space-between; 
	-ms-flex-pack: justify; 
	justify-content: space-between; 
}

ul li { 
	width: 25%; 
	margin-bottom: 50px;  
}

ul li a { 
	display: -webkit-box; 
	display: -ms-flexbox; 
	display: -webkit-flex; 
	display: flex; 
	-webkit-align-items: center; 
	-ms-flex-align: center; 
	align-items: center; 
	-webkit-justify-content: 
	center; -ms-flex-pack: center; 
	justify-content: center; 
}

ul li .skill { 
	background-color: #FFFF;
	position: relative; 
	width: 50%; 
	max-width: 220px; 
	overflow: hidden; 
	transition: 0.6s; 
	-webkit-transform-style: preserve-3d; 
	transform-style: preserve-3d; 
	-moz-transform: perspective(1000px); 
}

ul li .skill::after { 
	position: absolute; 
	width: 100%; 
	height: 100%; 
	top: -100%; 
	left: -100%;  
	content: ''; 
	z-index: -1; 
	transition: 0.5s; }

ul li .skill::before { 
	display: block; 
	padding-bottom: 100%; 
	content: ''; 
}

ul li .skill .front, ul li .skill .back { 
	position: absolute; 
	top: 6px; 
	left: 6px; 
	right: 6px; 
	bottom: 6px; }

ul li .skill .front img, ul li .skill .back img { 
	position: absolute; 
	width: 100%; 
	height: 100%; 
	top: 50%; 
	left: 50%; 
	-ms-transform: translate(-50%, -50%); 
	-webkit-transform: translate(-50%, -50%); 
	transform: translate(-50%, -50%); 
}

ul li .skill .back { 
	opacity: 0; transition: all 0s 0.15s; 
	-ms-transform: ratateY(180deg); 
	-webkit-transform: ratateY(180deg); 
	transform: ratateY(180deg); 
}

ul li a:hover .skill { 
	-webkit-transform: rotateY(180deg); 
	transform: rotateY(360deg); 
}

ul li a:hover .skill::after { 
	top: 0; 
	left: 0; 
}

ul li a:hover .skill .back { 
	opacity: 1; 
}


/* Footer */
footer {
	background: #434443;
	min-height: 100px;
	padding: 50px 0 50px 0;
}
.vl {
    border-left: 3px solid #FFFF;
    margin-right: 10px; 
    margin-left: 10px; 
}
footer hr {
	border: 2px solid #ace4ac;
	border-image: none;
}
footer p {
	color: #FFFFFF;
	margin: 0;
	display: inline;
}
footer p a{
	color: #FFFFFF;
}
footer p a:hover{
	color: #ace4ac;
}
footer h4 {
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 1.6em;
}
.socialIcons {
	font-size: 1.8em;
	color: #ffffff;
}
#myBtn {
	background-image: url('../img/up.jpg');
	background-size: contain;
  	display: none;
  	position: fixed;
  	bottom: 20px;
  	right: 30px;
  	z-index: 99;
  	border: none;
  	outline: none;
  	color: white;
  	cursor: pointer;
  	padding: 15px;
}

/* Responsive */
@media only screen and (max-width: 1150px) {
	h1 {
		font-size: 5em;
	}
	h2 {
		font-size: 2em;
	}
}
@media only screen and (max-width: 750px) {
	h1 {
		font-size: 3em;
	}
	/* .typewriter p {
	font-size: 1.4em;
} */
}
@media (min-width: 550px) {
.container {
	width: 80%;
}

}

@media (min-width: 400px) {
.container {
	width: 85%;
	padding: 0;
}
}