@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';

*{
    
    padding: 0;
    border: 0;
    font-family: "Alegreya Sans", sans-serif;
}
html, body {
    height: 100%;
}
.body {
     width: 100%;
    height: 100%;
}
body {
    margin: 0;
    color: #67727A;
    font-family: 'Alegreya', sans-serif;
}

header {
    background-color: #6991AC;
    width: 100%;
    height: 86px; 
}
#header-inner {
    max-width: 100%;
    margin: 0 auto;
}
#logo {
    margin: 15px 15px 15px 15px;
    float: left;
    width: 50px;
    height: 50px;
    overflow: hidden;
    display:block;
}
/*--- Start navigation--*/
nav {
    float: right;
    padding: 25px 20px 0 0;
}
ul {
    list-style-type: none;
}
nav ul li {
    font-size: 150%;
    font-family: cursive, sans-serif;
    display: inline-block;
    float: right;
    padding: 10px;
}
nav ul li a {
    color: #F5F5F5;
    text-decoration: none;
}
nav ul li a:hover {
    color:#C3D7DF;
}

/*End header*/








#about {
    background-color: #F1AA90;
    width: 100%;
    text-align: center;
    font-family: "Alegreya Sans", sans-serif;
    padding: 20px 20px 20px 20px;
    font-size: 20px;
}
/*End About*/

#skills {
    background-color: #AADCD2;
    width: 100%; 
    overflow: hidden;
}
.circle {
  margin: 60px;
  display: inline-block;
  padding: 16px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 2px solid #6991AC;
}

.circle::before,
.circle::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.circle,
.circle::before,
.circle::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.circle {
  position: relative;
  z-index: 2;
  background-color: #fff;
  border: 2px solid #6991AC;
  color: #6991AC;
  line-height: 60px;
  overflow: hidden;
}

.circle:hover {
  color:#F5F5F5;
}
.circle::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transform: scale(.5);
  transform: scale(.5);
}
.circle:hover::after {
  background: #F1AA90;
  border-radius: 50%;
  -webkit-transform: scale(.9);
  transform: scale(.9);
}
/*End Skills*/
.coolline {
   border: solid 1px #F1AA90;
   border-bottom:5px solid #F1AA90;
   margin:25px auto 15px auto;
   clear:both;
}
/*End hr*/
footer {
    background-color: bisque;
    letter-spacing: 0.5px;
    width: 100%;
    height: auto;
    padding: 20px 20px 20px 20px;
    font-size: 20px;
}
/*-------Media query starting-----*/

@media screen and(max-width: 768px) {
    
    .body {
        width: 100%;
        height: auto;
    }
    .container {
        width: 768px;
    }
/*ne radi skills*/
}

    






















